.ColorCard {
    box-shadow: 0.3px 0.3px 0.3px 0.2px;
    height: 300px;
    width: 200px;
}

.ColorCard__color {
    height: 80%;
    background-color: #dcdcdc;
}

.ColorCard__name {
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 500;
}